/* boottrap for only */

/* .container{
    margin-top: 5%;
    width: 50px;
} */

/* .notice p{
    width:  900px;
  height:550px;
  border-radius: 10px;
  background: #F0F0F0;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
} */